**/bin/
**/obj/
**/out/
**/publish/
**/logs/
**/.vs/
**/.vscode/
**/.idea/
**/.git/
**/.github/
**/*.user
**/*.suo
appsettings.Development.json
appsettings.Local.json
appsettings.*.Local.json
secrets.json
.env
.env.*
Dockerfile
.dockerignore
README.md
